<hr>
<mgl-map
    [style]="style"
    [zoom]="[2]"
>
    <mgl-marker [lngLat]="[-75.551012, 10.421185]">
        <div
        onclick="alert('Hola')"
        class="marker"
        >
        Hola Mundo!
        </div>
    </mgl-marker>
</mgl-map>