<form [formGroup]="fg" (ngSubmit)="guardar(fg.controls['tarea'].value,fg.controls['imagenUrl'].value,fg.controls['descripcion'].value)">
    <div	class="form-group">
        <label	for="tarea">Tarea</label>
            <input	type="text"	class="form-control"	id="tarea"	placeholder="Ingresar nombre..." [formControl]="fg.controls['tarea']">
            <ul>
                <li *ngFor="let r of searchResults;">{{r}}</li>
            </ul>
            <div *ngIf="fg.controls['tarea'].hasError('required')">nombre requerido</div>
            <div *ngIf="fg.controls['tarea'].hasError('invalidNombre')">nombre invalido</div>
            <div *ngIf="fg.controls['tarea'].hasError('minLongNombre')">nombre debe tener al menos {{minLongitud}} de largo!</div>
    </div>
     <div	class="form-group">
            <label	for="Imagen	Url">Imagen	Url</label>
            <input	type="text"	class="form-control"	id="imagenUrl"	placeholder="Ingresar url..." [formControl]="fg.controls['imagenUrl']">
    </div>
    <div	class="form-group">
        <label	for="descripcion">Descripcion</label>
        <input	type="text"	class="form-control"	id="descripcion"	placeholder="Ingresar descripcion..." [formControl]="fg.controls['descripcion']">
    </div>

    <button	type="submit"	class="btn	btn-primary" *ngIf="fg.valid">Guardar!</button>
 </form>