<div class="container content">
  <div class="page-header">
    <div class="container">
      <h1 style="color: #162a6b">Rutas</h1>
      <div class="navLinks">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/login']" style="margin-left: 10px;">Login</a>
        <a [routerLink]="['/protected']" style="margin-left: 10px;">ComponenteProtegido</a>
      </div>
    </div>
  </div>

 <!-- <div style="float: right;">
    <select (change)="translate.use($event.target.value)" class="btn btn-default">
      <option value="es">Español</option>
      <option value="fr">France</option>
      <option value="en">English</option>
    </select>
  </div> -->

  <div class="row">
    <h1 style="color: #162a6b">
      {{title}}  <b [innerHTML]="'HOLA es'"></b>
    </h1>
  </div>
  <router-outlet></router-outlet>
</div>

<hr class="mb-5">
Fecha: {{time | async}}